@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Jua&family=Noto+Sans+KR:wght@300&display=swap');

ul {padding-inline-start: 0px;}

/*
font {font-family: 'Gaegu', cursive;
    font-family: 'Jua', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;}
*/

@font-face {
    font-family: "DungGeunMo";
    src:url("font/DungGeunMo.eot");
  }





html { margin:0; font-family: "DungGeunMo", sans-serif;}
body { text-align: center; background-color: rgba(255, 255, 255, 0.8); margin: 3vw;
    
}

.title {
    font-size: 3em;  padding-top: 5%; margin-bottom: 30px; text-align: left; padding-left: 25%;}

.description { font-size: 1.1em; margin-top: 10px; margin-bottom: 10px;}


.box {
    display: flex; align-items: center;
    justify-content: center;
}

.main-box {
    background-image: url("image/box.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:60dvw;
    height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 80%;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main::-webkit-scrollbar {
    width: 5px;
  }
.main::-webkit-scrollbar-thumb {
    background-color: none;
  }
.main::-webkit-scrollbar-track {
    background-color: none;
  }

.right-box {
    display: inline-block;
    margin-left: 1%;
}

.ok-link { display: inline-block; padding: 7px; border-radius: 5px;  margin-top: 10px; margin-bottom: 10px; 
    width: 80px;


}
.tw-link { display: inline-block; padding: 7px; border-radius: 5px;  margin-top: 10px; margin-bottom: 10px;
    width: 80px;
}

.menu-1 { 
    margin-top: 10px; margin-bottom: 10px; font-size: 1.5em;}

.sub { 
    margin-top: 10px; margin-bottom: 10px; font-size: 1.5em;} 

img { display: inline-block; max-width: 90vw; width: 500px; }










